<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Backbone.js</title>
    <style>
        .completed {
            text-decoration: line-through;
            color: gray;
        }
        #error {
            color: red;
        }
    </style>
</head>
<body>

    <h1>タスク管理</h1>

    <form id="addTask">
        <p>タスク名を入力してください</p>
        <input type="text" id="title">
        <input type="submit" value="add">
        <span id="error"></span>
    </form>
    
    <div id="tasks">
    </div>

    <p>残タスク数：<span id="count"></span></p>

    <script type="text/template" id="task-template">
        <input type="checkbox" class="toggle" <%= completed ? 'checked' : ''%>>
        <span class="<%= completed ? 'completed' : '' %>">
        <%- title %>
        </span>
        <span class="delete"><input type="button" value="削除"></span>
    </script>
    <script src="underscore.js"></script>
    <script src="jquery.js"></script>
    <script src="backbone.js"></script>
    <script src="app.js"></script>
</body>
</html>